@import url("./tab.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #bbb;
  font-family: "Poppins", sans-serif;
}

.header {
  color: #fff;
  padding: 15px 0;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 136, 255);
}
.header h3 a {
  color: #fff;
  text-decoration: none;
}

#name {
  color: black;
  border: none;
  outline: none;
  text-align: center;
  width: 400px;
  height: 35px;
  font-size: larger;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 5px #c2c2c2;
}
.search-bar {
  position: relative;
}
.nav-link {
  display: flex;
  list-style-type: none;
  position: relative;
  width: 500px;
  justify-content: space-between;
}
.nav-link li a {
  color: inherit;
  fill: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all ease 10ms 10ms;
}
.nav-link li:hover,
.nav-link li:hover svg {
  fill: aqua;
  color: aqua;
  transform: scale(1.2);
}
.search-bar > svg {
  position: absolute;
  right: 0;
  bottom: 6px;
  fill: rgb(0, 136, 255);
  cursor: pointer;
}
.container {
  margin-inline: 5px;
  margin-top: 5px;
  position: relative;
}

.slider {
  position: relative;
  max-width: 100%;
}
.slider-image {
  display: none;
}
.btn {
  position: absolute;
  z-index: 2;
  left: 180px;
  bottom: 20px;
  border: none;
  border-radius: 50px;
  padding: 10px 40px;
  background-color: rgb(0, 255, 255);
  font-size: larger;
  transition: all ease-out 100ms 100ms;
}
.btn2 {
  position: absolute;
  z-index: 2;
  right: 250px;
  bottom: 100px;
  border: none;
  border-radius: 50px;
  padding: 10px 40px;
  background-color: brown;
  font-size: larger;
  color: #fff;
  transition: all ease-out 100ms 10ms;
}
.btn3 {
  position: absolute;
  z-index: 2;
  left: 150px;
  bottom: 30px;
  border: none;
  border-radius: 50px;
  padding: 10px 40px;
  background-color: green;
  font-size: larger;
  color: #ffffff;
  transition: all ease-out 100ms 10ms;
}
.btn:hover {
  background-color: rgb(0, 131, 131);
  color: #fff;
  transform: scale(1.1);
}
.btn2:hover {
  background-color: rgb(182, 0, 0);
  color: #fff;
  transform: scale(1.1);
}
.btn3:hover {
  background-color: rgb(0, 62, 0);
  color: #fff;
  transform: scale(1.1);
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-div {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.active,
.dot:hover {
  background-color: #fff;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.list {
  padding: 40px 10px;
  position: relative;
  display: block;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
}
.list img {
  width:150px;
  aspect-ratio: 2/2;
  border-radius: 10px;
  object-fit: cover;
}
.list a {
  text-decoration: none;
  text-align: center;
  color: #4d4c4c;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  animation: products 2s ease 100ms 1;
  transition: transform ease-out 100ms 100ms;
}
.list a:hover {
  color: #ff0000;
  transform: translate(0, -22px);
}
@keyframes products {
  0% {
    transform: translateX(-100px);
  }
}

.deals {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 5px;
  row-gap: 5px;
  text-align: center;
  
}
.deals-img img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}
#add {
  grid-area: 1/4 / span 3 / span 1;
  position: relative;
}
#add img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
#add .button {
  background: linear-gradient(90deg, green, lightgreen);
  position: absolute;
  bottom: 160px;
  left: 50px;
}
#deals-head {
  padding: 20px;
  background-color: #fff;
  grid-area: 1/1 / span 1 / span 3;
  color: #fff;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, coral, rgb(255, 68, 0));
}
#deals-head svg {
  margin-left: 20px;
  fill: white;
  animation: time 1000ms ease-out 100ms infinite;
}
@keyframes time {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
.deals-img {
  padding: 20px;
  background-color: #fff;
}

.link {
  text-decoration: none;
  color: inherit;
}
.li li {
  list-style-type: none;
}
.button {
  color: #fff;
  border: none;
  background: linear-gradient(90deg, blue, rgb(20, 20, 232));
  padding: 12px 50px;
  border-radius: 10px;
}
.button:hover {
  transition: all ease 100ms 100ms;
  background: linear-gradient(90deg, rgb(0, 0, 177), rgb(0, 0, 156));
}
footer {
  position: relative;
  height: 300px;
  background-color: #2b2b2b;
  color: #fff;
}
.footer1 {
  margin-top: 5px;
  color: #767676;
  display: flex;
  font-size: small;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
}
.footer1 a,
.footer1 li {
  list-style-type: none;
  text-decoration: none;
  color: #ccc;
}
.footer1 hr {
  height: 150px;
}
.footer2 {
  text-align: center;
  margin-top: 20px;
}


